/* About dialog header close button centered*/
.aboutCloseButton .sapMBtnInner {
	min-width: 2rem;
	width: 2rem;
	height: 2rem;
	padding: 0;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutCloseButton .sapMBtnIcon {
	font-size: 1rem;
}
